<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Page title -->
    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    <!-- Content inside Bootstrap class container -->
    <!-- /.container -->
  <div class="container" style="background: gold;">
      <div class="row">
          <div class="col-12">
              <h1></h1>
              <img src="/static/images.png" class="img-fluid">
              
            
          </div>
      </div>
  </div>


    <!-- Load JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>