{% extends "base.html" %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-6">
                <h1>geological-formation</h1>
                <img src="static/geological-f.png" style="width:50%" />
                <p>A formation or geological formation is the fundamental unit of lithostratigraphy. A formation consists of a certain amount of rock strata that have a comparable lithology, facies or other similar properties. Formations are not defined by the thickness of their rock strata; therefore the thickness of different formations can vary widely. 
                    The concept of formally defined layers or strata is central to the geologic discipline of stratigraphy. Groups of strata are divided into formations, which are divided into members.  </p>
            </div>
        </div>
    </div> 
{% endblock %}
